<div class="container">
  <div nz-row nzJustify="space-around">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <div style="text-align: center;">Selenium Monitoring</div>
      <nz-divider></nz-divider>
      <div *ngIf="isInvalidLogin">
        <nz-alert nzType="error" nzMessage="Invalid Username or Password!">
        </nz-alert>
        <nz-divider></nz-divider>
      </div>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col>
          <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
          </label>
        </div>
      </div>
      <nz-spin [nzSpinning]="loggingIn">
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
      </nz-spin>
      <button type="button" nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="ssoLogin()">SSO Login</button>
      
    </form>
  </div>
</div>