<div *ngIf="site!==undefined; else elseBlock">
    <ng-template #totalTemplate let-range="range" let-total>
        {{range[0]}}-{{range[1]}} of {{total}}
    </ng-template>
    <nz-descriptions nzTitle="Selenium Monitor Item Info" nzBordered>
        <nz-descriptions-item nzTitle="URL">{{ site.url }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Created">{{ site.dateAdded }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Tests Ran">{{ site.testCount }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Last Result">
            <nz-badge [nzStatus]="site.lastResultAsStatus" [nzText]="site.lastResult"></nz-badge>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Cron">
            <span nz-tooltip [nzTooltipTitle]="site.getReadableCron">{{ site.cron }}</span>
        </nz-descriptions-item>
    </nz-descriptions>
</div>
<ng-template #elseBlock>
    <nz-row nzJustify="center">
        <nz-alert nzType="error" nzMessage="Site not found" nzDescription="The selenium Test with the name '{{siteName}}'' was not found." nzShowIcon>
            <span></span>
        </nz-alert>
    </nz-row>
</ng-template>