<div *ngIf="site!==undefined||isLoading; else elseBlock">
    <ng-template #totalTemplate let-range="range" let-total>
        {{range[0]}}-{{range[1]}} of {{total}}
    </ng-template>
    <nz-spin [nzSpinning]="isLoading" nzTip="Fetching Data">
        <nz-descriptions nzTitle="Selenium Test Item Info" nzBordered [nzExtra]="delButton">
            <nz-descriptions-item nzTitle="URL">{{ site?.url }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Created">{{ site?.dateAdded }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Last Result">
                <span nz-tooltip [nzTooltipTitle]="site?.getLastRun === undefined ? 'Invalid' : (site?.getLastRun | date:'medium')">
                    <nz-badge [nzStatus]="site?.lastResultAsStatus" [nzText]="site?.lastResult"></nz-badge>
                </span>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Cron">
                <span nz-tooltip [nzTooltipTitle]="site?.getReadableCron">{{ site?.cron }}</span>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Next Run">{{ site?.getNextRun || 'Invalid' }}</nz-descriptions-item>
        </nz-descriptions>
    </nz-spin>
</div>
<ng-template #elseBlock>
    <nz-row nzJustify="center">
        <nz-alert nzType="error" nzMessage="Site not found" nzDescription="The selenium Test with the name '{{siteName}}' was not found." nzShowIcon>
            <span></span>
        </nz-alert>
    </nz-row>
</ng-template>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Confirmation" (nzOnCancel)="isVisible=false" (nzOnOk)="handleDelete()">
    <ng-container *nzModalContent>
      <p>Are you sure you want to delete the Selenium Test?</p>
    </ng-container>
</nz-modal>
<ng-template #delButton>
    <button nz-button nzType="primary" nzDanger (click)="isVisible=true">Delete</button>
</ng-template>