<ng-template #totalTemplate let-range="range" let-total>
    {{range[0]}}-{{range[1]}} of {{total}}
</ng-template>
<nz-table #siteTable [nzData]="sites" nzShowPagination nzShowSizeChanger nzSortOrder [nzShowTotal]='totalTemplate'>
    <thead>
        <tr>
            <th>URL</th>
            <th>Cron</th>
            <th nzSortOrder="null" [nzSortFn]="sortByTestCount" [(nzSortOrder)]="sortOrder">Test Count</th>
            <th [nzFilters]="resultFilters" [nzFilterFn]="resultFilterFunc">Last Result</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let site of siteTable.data">
            <td><a [routerLink]="site.getUrl">{{ site.url }}</a></td>
            <td><span nz-tooltip [nzTooltipTitle]="site.getReadableCron">
                {{ site.cron }}
            </span></td>
            <td>{{ site.testCount }}</td>
            <td><nz-tag [nzColor]="site.lastResultAsStatus">{{ site.lastResult }}</nz-tag></td>
        </tr>
    </tbody>
</nz-table>