<ng-template #totalTemplate let-range="range" let-total>
    {{range[0]}}-{{range[1]}} of {{total}}
</ng-template>
<nz-table #siteTable [nzData]="sites" nzShowPagination nzShowSizeChanger nzSortOrder [nzShowTotal]='totalTemplate'>
    <thead>
        <tr>
            <th>URL</th>
            <th nzSortOrder="null" [nzSortFn]="sortByTestCount" [(nzSortOrder)]="sortOrder">Test Count</th>
            <th [nzFilters]="resultFilters" [nzFilterFn]="resultFilterFunc">Last Result</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let site of siteTable.data">
            <td><a href="{{ site.getUrl }}">{{ site.url }}</a></td>
            <td>{{ site.testCount }}</td>
            <td>{{ site.lastResult }}</td>
        </tr>
    </tbody>
</nz-table>